.DS_Store

vim/sessions/*
vim/bundle/*
!vim/bundle/neobundle.vim
vim/.netrwhist
vim/init.vim
vim/dein/*

aws/credentials
zsh/secrets.zsh

tags/tags

tmux/plugins/*
tmux/resurrect/*
!tmux/plugins/tpm

!.gitkeep
