.DS_Store

vim/.netrwhist
vim/init.vim
vim/dein/*

aws/credentials

tmux/plugins/*
tmux/resurrect/*
!tmux/plugins/tpm

provisioning/playbook.retry
provisioning/secrets.yml
provisioning/test/image/*
provisioning/test/.vagrant

!.gitkeep
