extends _clike_stmt
extends _clike_postfix

snippet cdebug "console.debug()" b
console.debug($0);
endsnippet

snippet clog "console.log()" b
console.log($0);
endsnippet

snippet cerror "console.error()" b
console.error($0);
endsnippet

snippet cwarn "console.warn()" b
console.warn($0);
endsnippet

snippet times ".times"
Array.from({ length: $1 }, (_, i) => i$0)
endsnippet

snippet iife "Immediately Invoked Function Expression"
(() => {
	$0
})();
endsnippet
