priority -1

global !p
import operator_formatter
endglobal

context "operator_formatter.context(snip)"
snippet /([^\-\+\*\/<>\|&\?%=\^~:! ])([\-\+\*\/<>\|&\?%=\^~:! ]+)/ "Operators" reA
`!p snip.rv = operator_formatter.format(snip, match.group(1), match.group(2))`
endsnippet
