snippet select "select statement" b
select
	
from
	${1:table}
endsnippet

snippet date "Description" b
date('`!p strftime('%Y-%m-%d')`')
endsnippet

snippet -- "Heading" b
-- $0
--`!v repeat('-', 47)`
endsnippet
