snippet /
abbr    Title
  /=== ${1}
  /==============================================================================================

snippet //
abbr    Sub title
  /  ${1}
  /-----------------------------------------------
