#  Github
#-----------------------------------------------
# creasty
export GITHUB_ACCESS_TOKEN='0000000000000000000000000000000000000000'


#  AWS
#-----------------------------------------------
# creasty
export CREASTY_AWS_ACCESS_KEY_ID='00000000000000000000'
export CREASTY_AWS_SECRET_ACCESS_KEY='0000000000000000000000000000000000000000'

# wantedly
export WANTEDLY_AWS_ACCESS_KEY_ID='00000000000000000000'
export WANTEDLY_AWS_SECRET_ACCESS_KEY='0000000000000000000000000000000000000000'

# default
export AWS_ACCESS_KEY_ID="$CREASTY_AWS_ACCESS_KEY_ID"
export AWS_SECRET_ACCESS_KEY="$CREASTY_AWS_SECRET_ACCESS_KEY"

#  Atlas
#-----------------------------------------------
export ATLAS_TOKEN='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
